
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

.wrapper{
  display: flex;
}
.card{
  width: 50%;
  margin: 0 auto;
  
}

.movie-poster  img{
  width: 15vmax;
  height: 100%;
}

.details{
  margin: 0 auto;
}
.h2 {
  font-size: 10vmax;
  font-family: 'Lato', sans-serif;
 
}
p{
  font-weight: bold;
  font-size: 1vmax;
  font-family: 'Lato', sans-serif;
  margin-top: 10%;
  text-align: center;
}

.searchBtn{
  margin: 0 auto;
  height: 100%;

}
.row{
  margin: 0 auto;
}
.movie-title {
  color: black;
  text-decoration: none;
 
}
.movie-title h1{
  font-family: 'Lato', sans-serif;

}
.release_date{
  font-family: 'Lato', sans-serif;
  font-size: 1.5vmax;
 
  float: right;


}
