
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body {
    min-height: 100vh;
    background-color: #f8f9fa;
    overflow-x: hidden;
}
a:link {
    text-decoration: none;
}
a:visited,
a:active {
    color: inherit;
}

.divider{
    display: flex;
    height: 50%;
    width: 100%;
    margin-top: 5%;
}

.right{
    height: 30vmax;
    background-color:darkgray;
    width: 50%;
    margin-right:10%;
}
.left{
    height: 30vmax;
    width: 40vmax;
    margin-left: 10%;
  

}
.left img{
    height: 100%;
    width: 100%;
    text-align: center;
    
}
.h1{
    margin-top: 20%;
    text-align: center;
    font-family: 'Anton', sans-serif;
 
}
.p2{
    font-size: 2vmax
}
.p3{
    margin-top: 10%;
    font-family: 'Roboto Slab', serif;
    font-size: 1vmax;
    text-align: center;
}

.videoCss{
   text-align: center;
}

.trailerHead{
    font-family: 'Alumni Sans Collegiate One', sans-serif;
   
   

}








ul {
    display: flex;
    width: 100%;
    text-align: center;
    list-style: none;
}
li {
    width: 100%;
}



/* ---------------------------------------------
Movie Trailer */
.trailerHead {
    margin: 10px auto 10px auto;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
