@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-color: #f8f9fa;
    overflow-x: hidden;
}
a:link {
    text-decoration: none;
}
a:visited,
a:active {
    color: inherit;
}

.divider {
    display: flex;
    height: 50%;
    width: 100%;
    margin-top: 5%;
}

.right {
    height: 30vmax;
    background-color: darkgray;
    width: 50%;
    margin-right: 10%;
}
.left {
    height: 30vmax;
    width: 40vmax;
    margin-left: 10%;
}
.left img {
    height: 100%;
    width: 100%;
    text-align: center;
}
.h1 {
    margin-top: 20%;
    text-align: center;
    font-family: "Anton", sans-serif;
}
.p2 {
    font-size: 2vmax;
}
.p3 {
    margin-top: 10%;
    font-family: "Roboto Slab", serif;
    font-size: 1vmax;
    text-align: center;
}

.videoCss {
    text-align: center;
}

.trailerHead {
    font-family: "Alumni Sans Collegiate One", sans-serif;
}

.ul1 {
    display: flex;
    width: 100%;
    text-align: center;
    list-style: none;
}
li {
    width: 100%;
}

/* ---------------------------------------------
Movie Trailer */
.trailerHead {
    margin: 10px auto 10px auto;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoCss > i {
    margin: 100px auto 100px auto;
}
.actorView {
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    overflow: hidden;
}
.actorTitle {
    margin: 50px auto 50px auto;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actorFrame {
    display: flex;
    justify-content: center;
    align-items: center;
}
.basket {
    float: left;
    margin-left: 30px;
    margin-bottom: 50px;
}
.actorWho {
    font-size: 13.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}
.actorRealNameWho {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.actorPic {
    border-bottom: 1px solid black;
    display: block;
}


/***********************************리뷰************************/
.todoApp {
    width: 100%;
    max-width: 540px;
    background: rgb(128, 155, 197);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todoApp > h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todoApp > h2 > img {
    width: 30px;
    margin-left: 10px;
}
.dataBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.nameInput {
    margin-left: 1px;
    width: 85px;
    font-size: 20px;        
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}


.textInput {
    margin-right: 4px;
    width: 300px;
    font-size: 20px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.dataBtn {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(14, 14, 29);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}


.pwdInput {
    margin-left: 360px;
    width: 120px;
    font-size: 20px;
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    border: none;
    outline: none;
}

.task > li {
    width: 420px;
    margin-left: -45px;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.task > li > span {
    margin-right: -50px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.task > li > span:hover {
    background: #edeef0;
}



/*************************************리뷰****************************/