/* Detail Title etc */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-color: #f8f9fa;
}
a:link {
    text-decoration: none;
}
a:visited,
a:active {
    color: inherit;
}
.nav {
    width: auto;
    height: 150px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.nav h1 {
    margin: 0 0;
    cursor: pointer;
}

.nav small {
    color: gray;
    font-size: 13px;
}

.divider {
    display: flex;
    width: auto;
    height: 300px;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
}
label {
    font-size: 25px;
}
.search input {
    margin-left: 20px;
    min-width: 200px;
    height: 30px;
}
input[type="text" i] {
    writing-mode: horizontal-tb;

    padding-inline: 2px;
}
input {
    cursor: text;
    border-width: 2px;
    padding: 0;
}

.search button {
    margin-left: 10px;
    padding: 5px;
}
button {
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
}
.movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.movie-card {
    width: 260px;
    height: 500px;
    margin: 20px;
    padding: 20px;
    justify-self: center;
    background-color: bisque;
    cursor: pointer;
    user-select: none;
    overflow: scroll;
    border-radius: 10px;
}

.movie-card::-webkit-scrollbar {
    display: none;
}
.movie-card img {
    width: 100%;
    border-radius: 10px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
ul {
    display: flex;
    width: 100%;
    text-align: center;
    list-style: none;
}
li {
    width: 100%;
}

.left {
    height: 270px;
    width: 300px;
    margin-right: 150px;
}
.right {
    height: 270px;
    width: 850px;
    margin-right: 100px;
}
.image {
    height: 270px;
    width: 300px;
    margin-right: 150px;
}

.p0 {
    margin-top: 38px;
    font-size: 60px;
}
.p1 {
    margin-top: -20px;
    font-size: 50px;
}
.p2 {
    font-size: 20px;
}
.p3 {
    font-size: 18px;
}
/* ---------------------------------------------
Movie Trailer */
.trailerHead {
    margin: 10px auto 10px auto;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
