@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");



 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-color: #f8f9fa;
    overflow-x: hidden;
}
a:link {
    text-decoration: none;
}
a:visited,
a:active {
    color: inherit;
}

.divider {
    display: flex;
    height: 50%;
    width: 100%;
    margin-top: 5%;
}

.tvRight {
    height: 30vmax;
    background-color: darkgray;
    width: 50%;
    margin-right: 10%;
}
.tvLeft {
    height: 30vmax;
    width: 40vmax;
    margin-left: 10%;
}
.tvLeft img {
    height: 100%;
    width: 100%;
    text-align: center;
}
.tvTitle {
    margin-top: 5%;
    text-align: center;
    font-family: "Anton", sans-serif;
}

.tvOverView {
    font-size: 2vmax;
    margin-top: 10%;
    font-family: "Roboto Slab", serif;
    font-size: 1vmax;
    text-align: center;
}

.videoCss {
    text-align: center;
}

.trailerHead {
    font-family: "Alumni Sans Collegiate One", sans-serif;
}

ul {
    display: flex;
    width: 100%;
    text-align: center;
    list-style: none;
}
li {
    width: 100%;
}

/* ---------------------------------------------
Movie Trailer */
.trailerHead {
    margin: 10px auto 10px auto;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoCss > i {
    margin: 100px auto 100px auto;
}
.actorFrame{
    margin: 0 auto;
    width: 100%;
    text-align: center;

}
.actorView {
   
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5개의 열을 생성 */
 
    
}

.basket{
    width: 100%;
 

}
.actorTitle{
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-size: 7vmax;
    text-align: center;

}
.actorRealNameWho,
.actorWho,
.actorWho{
    font-family: "Anton", sans-serif;
    
}
.basket img{
   
}

/***********************************리뷰************************/
.todoApp {
   
    width: 100%;
    max-width: 50%;
    background-color: wheat;
    margin: 0 auto;
    padding-bottom: 10%;
    margin-top: 5%;
    z-index: 10;
    border-radius: 5%;
}

.todoApp > h2 {
    color: #002765;
    display: flex;
    width: 100%;
    position: relative;
    font-size: 3.5vmax;
    
    justify-content: center;
    margin-bottom: 5%;
    font-family: "Anton", sans-serif;
    
}

.todoApp > h2 > img {
    width: 30px;
    margin-left: 10px;
}

.dataBox {
    text-align: center;
  }
  
  .nameInput,
  .textInput,
  .dataBtn {
    margin: 10px;
    padding: 10px;
  }
  
  .nameInput,
  .textInput {
    text-align: center;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
  }
  
  .dataBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .dataBtn:hover {
    background-color: #0056b3;
  }

.pwdInput {
    
    
    width:20%;
    font-size: 20px;
    margin-left: 65%;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    
    align-items: end;
    text-align: center;
   
}

.task > li {
    font-family: 'Roboto Mono', monospace;
    margin-top: 5%;
    list-style: none;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
   
}

.task > li > span { 
    margin: -7px 0px 0px 200px;
    position: absolute;
    width: 35px;
    height: 35px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.task > li > span:hover {
    background: #edeef0;
}



/*************************************리뷰****************************/
/*팝업창 */
.popupMain {
    width: 100%;
    
    height: 100%;
    display: flex;
    justify-content: center;
    
   
    
    z-index: 20;
    
   
}

.popup {
    
    display: none;
    position: absolute;
    background: white;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 280px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.nameRemember {
    margin-top: 10px;
    width: 200px;
    font-size: 20px;
}

.pwdRemember {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }

.valBtn {
    width: 100%;
  
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
  }
.valBtn:hover {
    background-color: #0056b3;
  }
/* 팝업창 */