* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: #f8f9fa;
  color: #000;
  font-size: 1em;
}

a {
  background: 0 0;
  text-decoration: none;
  font-weight: 400;
}

a:-webkit-any-link {
  cursor: pointer;
}

div.results {
  padding: auto 0px auto 30px;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  width: calc(100vw - 80px - 268px);
  max-width: calc(1400px - 80px - 268px);
}

div.poster {
  min-width: 94px;
  height: 100%;
}

div.results a.result {
  color: #000;
  background: 0 0;
  display: block;
  width: 100%;
  height: 100%;
}

img {
  border: 0;
  outline: 0;
  overflow-clip-margin: content-box;
  overflow: clip;
  width: inherit;
  height: 100%;
}

.results {
  padding-top: 60px;
  color: #000;
}

.card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid rgba(227, 227, 227, 1);
}

div.card > div.wrapper {
  display: flex;
  display: flex;
  max-width: calc(100vw - 82px);
}

div.details {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

div.title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  overflow: hidden;
  box-sizing: border-box;
}

div .title h2 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 0;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
h2 {
  font-weight: 600;
  margin: 0 0 4px;
  box-sizing: border-box;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

span.release_date {
  width: 100%;
  white-space: nowrap;
  color: #999;
}
