.wrapper{
  display: flex;
}
.card{
  width: 50%;
  margin: 0 auto;
  
}

img{
  width: 15vmax;
  height: 100%;
}

.details{
  margin: 0 auto;
}
.h2 {
 
  font-size: 0.5vmax;
}
p{
  font-weight: bold;
  font-size: 0.75vmax
}